Django==5.0.3
djangorestframework==3.14.0
django-cors-headers==4.3.1
psycopg2-binary==2.9.9
celery==5.3.6
redis==5.0.1
python-dotenv==1.0.1
django-anymail[brevo]==10.3
eventlet==0.33.3
channels==4.0.0
channels-redis==4.1.0
daphne==4.0.0